.confirm-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .confirm-dialog {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 400px;
  }
  
  .confirm-dialog-message {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .confirm-dialog-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .confirm-button,
  .cancel-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm-button {
    background-color: #a3080c;
    color: #fff;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: #000;
  }
  
  .confirm-button:hover {
    background-color: #e55a4e;
  }
  
  .cancel-button:hover {
    background-color: #b3b3b3;
  }
  