.cover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://scontent.fftw1-1.fna.fbcdn.net/v/t39.30808-6/269868483_10159808884248814_9043853655181082426_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=KIdRDM1JMiAQ7kNvgGyACY7&_nc_zt=23&_nc_ht=scontent.fftw1-1.fna&_nc_gid=AF7TZNbu9Wqdq3YId2QB-9P&oh=00_AYCJAgN94MeHURFr2qlwF7Tyr4xnPdwEFxvEdA240S1gdw&oe=67274CB0');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.start-order-button {
    color: white;
    background-color: #a3080c;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.start-order-button:hover {
    transform: scale(1.05);
}

.kiosk-landing-order {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://t4.ftcdn.net/jpg/04/81/88/03/360_F_481880392_qj1h5f1QVbYlzwh2n1yiJHM5L4KOUMSN.jpg'); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/order-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;   
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    font-size: 1.5rem;
}

.card-text {
    margin-bottom: 0px;
    font-weight: bold;
}

.card-description {
    font-size: 0.8rem;
    color: grey;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.selection-card {
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.selection-card:hover {
    transform: scale(1.05);
}

.selection-card.selected {
    background-color: #a3080c;
    color: white;
}

.selection-card-content .plus-sign {
    font-size: 2rem;
    display: block;
}

.selection-text {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.selection-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.sides-section, .entrees-section {
    display: flex;
    gap: 10px;
}