
@media (max-width: 767px) {
    .reports-background-container{
        width: 100vw;
        height: 100vh;
        background-color:rgb(235, 235, 235);
    }
    .reports-background{
        display: none;
    }
}
@media (max-width: 1199px) {
    .reports-background-container{
        width: 100vw;
        
        background-color:rgb(235, 235, 235);
    }

    .reports-background{
        padding-bottom: 20px;
        padding-left: 350px;
        height: fit-content;
        background-color:rgb(235, 235, 235);
    }

    .reports-title{
        font-weight:200px;
        width: 100%;
        height:130px;
        padding-top: 30px;
        font-size: 40px;
        color: rgb(98, 98, 98);
        
        
    }

    .reports-date{
        font-weight:200px;
        padding-bottom: 20px;
        width: fit-content;
        height:fit-content;
        font-size: 50px;
        color: rgb(98, 98, 98);
        text-wrap: nowrap;
        
    }

    .report-container{
    margin-bottom: 30px;
    margin-right: 30px;
    }
    .report-container-pair{
        margin-bottom: 30px;
        margin-right: 30px;
    }

    .report-card{
        margin-bottom: 30px;
        margin-right: 20px;
        color: rgb(117, 117, 117);
        font-size: 25px;
        padding: 25px;
        width: 100%;
        height: 160px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px 1px 5px gray
    }

    .report-card-big{
        margin-bottom: 30px;
        margin-right: 20px;
        color: rgb(117, 117, 117);
        font-size: 35px;
        padding: 25px;
        width: 100%;
        height: 400px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px 1px 5px gray
    }
    .report-card-large{
        font-size: 35px;
        margin-right: 20px;
        margin-top: 30px;
        color: rgb(117, 117, 117);
        overflow: hidden;
        padding: 25px;
        width: 100%;
        height: 700px;
        background-color: white;
        border-radius: 15px;
        margin-top: 30px;
        box-shadow: 1px 1px 5px gray;
        white-space: nowrap;
        }
    .report-card-pair{
        margin-right: 20px;
        color: rgb(98, 98, 98);
        font-size: 25px;
        padding: 25px;
        width: 100%;
        height: 100px;
        background-color: white;
        border-radius: 15px;
        /*text-align: center;*/
        margin-bottom: 30px;
        box-shadow: 1px 1px 5px gray
    }
    .report-card-drop{
        margin-right: 20px;
        color: rgb(117, 117, 117);
        font-size: 35px;
        padding: 25px;
        width: 100%;
        height: fit-content;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px 1px 5px gray;
    }

    .report-divider{
        border-top: 2px dashed gray;
        opacity: .5;
    }

    .report-divider-big{
        padding-bottom: 20px;
        margin-top: 0;
        margin-right: 50px;
        border-top: 3px solid rgb(98, 98, 98);;
        opacity: .5;
        z-index: -100;
    }

    .report-card-icon{
        float: right;
        font-size: 25px;
        color: #a3080c;
       
    }

    .report-card-icon-big{
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 50px;
        padding-left: 50px;
        font-size: 300px;
        color: #000000;
    }

    #report-dropdown-icon{
        margin-left: 50%;
        color: rgb(117, 117, 117);
        font-size: 25px;
    
    }
    
    #report-dropup-icon{
        margin-left: 50%;
        color: rgb(117, 117, 117);
        font-size: 25px;
        display: none;
    }
    #orders-by-hour{
        display: none;
        padding: 20px;
    }
    .table-title{
       width: 100%;
       margin: 15px;
     }
     .table-title-container{
        background-color:lightgray;
        width: 100%;
        height: 100%;
        
        margin-bottom: 2px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-size: 15px;
        color:  rgb(98, 98, 98);
        display: flex;
     }
    .orders-by-hour-elem{
       background-color:rgb(235, 235, 235);
       width: 100%;
       height: 100%;
       padding: 5px;
       margin: 2px;
       font-size: 15px;
       color:  rgb(98, 98, 98);
    }
    .orders-by-hour-row{
        width: 100%;
        display: flex;
       
     }
     .barchart-container{
        width:100%;
        height: 75%;
        font-size: 20px;
       margin-left: auto;
       margin-right: auto;
     }
     .piechart-container{
        width:100%;
        height: 75%;
        font-size: 20px;
       margin-left: auto;
       margin-right: auto;
     }
     #date-pair{
        color:rgb(98,98,98);
        padding: 10px;
        background-color: lightgray;
        border: none;
        border-radius: 10px;
        margin-left: 15px;
        width: 190px;
        font-size: 17px;
     }
     .pair-row{
        display: flex;
     }
     .pair-elem{
        font-size: 10px;
        padding: 1px;
        width: 8px;
        height: 8px;
        margin: 0.5px;
        text-align: center;
        border: gray 0.5px solid;
     }
     .pair-elem:hover{
        font-size: 10px;
        padding: 1px;
        width: 8px;
        height: 8px;
        margin: 0.5px;
        text-align: center;
        border: gray 0.5px solid;
        transform: scale(1.5);
        border: gray 1px solid;
     }
     .pair-back{
        width: fit-content;
        background-color:white;
        margin-top: 2px;
        height: fit-content;
        
        
     }
     .pair-chart-title{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        color: gray;
        margin-top: 20px;
        border: 2px gray solid;
        padding: 8px;
        font-size: 15px;
        border-radius: 10px;
    }
    .pair-yaxis{
        width: 15px;
        pointer-events: none;
        font-size: 15px;
        transform: rotate(-90deg);
        position: relative;
        left: 144px;
        bottom: -15px;
        }
    .pair-xaxis{
        pointer-events: none;
        width: 100%;
        margin-top: 2px;
        font-size: 15px;
        text-align: center;
        
        }
     .pair-chart-container{
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        padding-right: 15px;
        display: flex;
        margin-top: 15px;
        
     }
     .pair-table-elem{
        background-color:rgb(235, 235, 235);
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 2px;
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        color:  rgb(98, 98, 98);
        white-space: nowrap;
        z-index: 1000;
        
     }
     .pair-table-row{
         width: 100%;
         display: flex;
        
      }
      .pair-table-title-container{
        background-color:lightgray;
        width: 100%;
        margin-bottom: 2px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 15px;
        display: flex;
        color:  rgb(98, 98, 98);
        
     }
     .pair-table-title{
       width: 100%;
       margin: 10px;
       text-overflow: ellipsis;
       overflow: hidden;
       white-space: nowrap;
      }
      
}
@media (min-width: 1200px) {

    .reports-background-container{
        width: 100vw;
        
        background-color:rgb(235, 235, 235);
    }

    .reports-background{
        padding-bottom: 20px;
        padding-left: 350px;
        height: fit-content;
        background-color:rgb(235, 235, 235);
    }

    .title-container{
        display: flex;
    }

    .reports-title{
        font-weight:200px;
        width: 100%;
        height:130px;
        padding-top: 30px;
        font-size: 50px;
        color: rgb(98, 98, 98);
    }

    .reports-date{
        text-align: right;
        font-weight:200px;
        margin-right: 50px;
        float:right;
        width: 100%;
        height:130px;
        padding-top: 30px;
        font-size: 50px;
        color: rgb(98, 98, 98);
        
    }

    .report-container{
        display: flex;
        margin-bottom: 30px;
        margin-right: 30px;
    }
    .report-container-pair{
        margin-bottom: 30px;
        margin-right: 30px;
    }

    .report-card{
        margin-right: 20px;
        color: rgb(98, 98, 98);
        font-size: 25px;
        padding: 25px;
        width: 100%;
        height: 160px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px 1px 5px gray
    }
    .report-card-pair{
        margin-right: 20px;
        color: rgb(98, 98, 98);
        font-size: 25px;
        padding: 25px;
        width: 100%;
        height: 100px;
        background-color: white;
        border-radius: 15px;
        /*text-align: center;*/
        box-shadow: 1px 1px 5px gray
    }

    .report-card-big{
        margin-right: 20px;
        color: rgb(117, 117, 117);
        font-size: 35px;
        padding: 25px;
        width: 100%;
        height: 400px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px 1px 5px gray;
    }
    .report-card-large{
        font-size: 35px;
        margin-right: 20px;
        margin-top: 30px;
        color: rgb(117, 117, 117);
        overflow: hidden;
        padding: 25px;
        width: 100%;
        height: 700px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px 1px 5px gray;
    }
    .report-card-drop{
        margin-right: 20px;
        color: rgb(117, 117, 117);
        font-size: 35px;
        padding: 25px;
        width: 100%;
        height: fit-content;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px 1px 5px gray;
    }

    .report-divider{
        border-top: 2px dashed gray;
        opacity: .5;
    }

    .report-divider-big{
        padding-bottom: 20px;
        margin-top: 0;
        margin-right: 50px;
        border-top: 3px solid rgb(98, 98, 98);
        opacity: .5;
        z-index: -100;
    }

    .report-card-icon{
        float: right;
        font-size: 25px;
        color: #a3080c;
    }

    .report-card-icon-big{
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 50px;
        padding-left: 50px;
        font-size: 300px;
        color: #000000;
    }

    #report-dropdown-icon{
        margin-left: 50%;
        color: rgb(117, 117, 117);
        font-size: 25px;
        pointer-events: none;
    }

    #report-dropup-icon{
        margin-left: 50%;
        color: rgb(117, 117, 117);
        font-size: 25px;
        display: none;
        pointer-events: none;
    }

    #orders-by-hour{
        display: none;
        padding: 20px;
    }
    .table-title{
       width: 100%;
       margin: 15px;
     }
     .table-title-container{
        background-color:lightgray;
        width: 100%;
        height: 100%;
        margin-bottom: 2px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        font-size: 25px;
        color:  rgb(98, 98, 98);
        display: flex;
     }
    .orders-by-hour-elem{
       background-color:rgb(235, 235, 235);
       width: 100%;
       height: 100%;
       padding: 15px;
       margin: 2px;
       font-size: 25px;
       color:  rgb(98, 98, 98);
    }
    .orders-by-hour-row{
        width: 100%;
        display: flex;
       
     }
     .barchart-container{
        width:100%;
        height: 75%;
        font-size: 20px;
       margin-left: auto;
       margin-right: auto;
       padding-right: 20px;
     }
     .piechart-container{
        width:100%;
        height: 75%;
        font-size: 20px;
       margin-left: auto;
       margin-right: auto;
     }
     #date-pair{
        color:rgb(98,98,98);
        padding: 10px;
        background-color: lightgray;
        border: none;
        border-radius: 10px;
        margin-left: 15px;
        width: 190px;
        font-size: 17px;
     }
     .pair-row{
        display: flex;
     }
     .pair-elem{
        font-size: 10px;
        padding: 1px;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-align: center;
        
        border: gray 0.5px solid;
       
     }
     .pair-elem:hover{
        font-size: 10px;
        padding: 1px;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-align: center;
        transform: scale(1.5);
        border: gray 1px solid;
     }
     .pair-back{
        width: fit-content;
        background-color:white;
        margin-top: 2px;
        height: fit-content;
        
        
     }

    .pair-chart-title{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        color: gray;
        margin-top: 15px;
        border: 2px gray solid;
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
    }
    .pair-yaxis{
        width: fit-content;
        pointer-events: none;
        font-size: 20px;
        transform: rotate(-90deg);
        position: relative;
        left: 210px;
        bottom: 8px;
        }
    .pair-xaxis{
        pointer-events: none;
        width: 100%;
        margin-top: 2px;
        font-size: 20px;
        text-align: center;
        
        }
     .pair-chart-container{
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        padding-right: 72px;
        display: flex;
        margin-top: 15px;
        
     }
     .pair-table-elem{
        background-color:rgb(235, 235, 235);
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 2px;
        font-size: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        color:  rgb(98, 98, 98);
        white-space: nowrap;
        z-index: 1000;
        
     }
     .pair-table-row{
         width: 100%;
         display: flex;
        
      }
      .pair-table-title-container{
        background-color:lightgray;
        width: 100%;
        margin-bottom: 2px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-size: 15px;
        display: flex;
        color:  rgb(98, 98, 98);
        
     }
     .pair-table-title{
       width: 100%;
       margin: 10px;
       text-overflow: ellipsis;
       overflow: hidden;
       white-space: nowrap;
      }
}
