@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Jomhuria&display=swap');

.fullscreen-menu img {
    width: 110%;
}

.fullscreen-menu .a-la-carte-image {
    width: 70%;
    float: right;
}

.fullscreen-menu .entree-image {
    float: left;
}

.fullscreen-menu .entree-card {
    overflow: hidden;
    position: relative;
    height: clamp(0rem, 15vw, 15rem) !important;
}

.fullscreen-menu .appetizer-card {
    position: relative;
}

.fullscreen-menu .ad-card {
    object-fit: cover;
    overflow: hidden;
    width: 110%;
    height: 21.5vw !important;
}

.fullscreen-menu .photo-div {
    position: absolute;
    width: 110%;
    top: 40%;
    left: -20%;
}

.fullscreen-menu .card-entree {
    text-align: right;
    padding-right: 10%;
    padding-left: 10%;
}

.fullscreen-menu .card-appetizer {
    padding-left: 4%;
}

.fullscreen-menu .row-style-1 {
    background-color: #A3080C;
    color: white;
    text-align: center;
}

.fullscreen-menu .row-style-2 {
    background-color: black;
}

.fullscreen-menu .dynamic-text {
    white-space: nowrap;
}

.fullscreen-menu .banners-container {
    display: flex;
    margin-top: 20%;
    position: absolute;
    z-index: 1;
}

.fullscreen-menu .banners-container-app {
    display: flex;
    position: absolute;
    right: 5%;
}

.fullscreen-menu .banners-container-display {
    display: flex;
    position: absolute;
    margin-top: 2%;
}

.fullscreen-menu .banner {
    color: white;
    padding: 5px 10px;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 5px;
}

.fullscreen-menu .seasonal-banner {
    background-color: #a3080c;
}

.fullscreen-menu .seasonal-banner2 {
    background-color: #a3080c;
    margin-left: 60%;
}

.fullscreen-menu .premium-banner {
    background-color: goldenrod;
}

.fullscreen-menu .drinks-card {
    text-align: center;
}

.fullscreen-menu .card-drink {
    padding-left: 4%;
}

.fullscreen-menu .drinks-table {
    margin: 0 auto;
    width: 50%;

}

.fullscreen-menu .drink-image {
    width: 90%;
}

.fullscreen-menu .app-image {
    top: 30%;
    right: 0%;
}

.fullscreen-menu .icon-card {
    height: 5vw !important;
}

.fullscreen-menu .text-desc {
    margin-top: 2%;
}

.fullscreen-menu .card-img-top {
    width: 100%;
}

.carousel-button {
    position: absolute;
    top: 5px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0; 
    transition: opacity 0.3s ease;
    z-index: 10;
}

.carousel-button:hover  {
    opacity: 1; 
}