@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Jomhuria&display=swap');


img {
    width: 110%;
}

.a-la-carte-image {
    width: 70%;
    float: right;
}

.entree-image {
    /* width: 80%; */
    float: left;
}

.entree-row {
    /* height: clamp(0rem, 15vw, 15rem); */
    /* height: 10vw; */
}

.entree-card {
    /* width: 15vw;
    height: 15vw; */
    overflow: hidden;
    position: relative;
    /* height: 25rem !important; */
    height: clamp(0rem, 15vw, 15rem) !important;
    /* font-size: clamp(0rem, 15vw, 15rem); */
    /* max-width: 18rem; */
}

.text-div {
    /* position: absolute; */
}

.photo-div {
    position: absolute;
    width: 110%;
    top: 40%;
    left: -20%;
    
    /* right: 30%; */
    /* size: 150%; */
}


/* @media screen and (min-width: 600px) {
    .entree-card {
    height: clamp(1rem, 15vw, 10rem) !important;
      font-size: 100%;
    }
  } */

  /* @media (max-width: 600px) {
    .entree-card {
      font-size: 50%;
    }
  }

  @media (max-width: 1500px) {
    .entree-card {
      font-size: 70%;
    }
    h2 {
        font-size: 70%;
      }
  } */

.card-entree {
    text-align: right;
    padding-right: 10%;
    padding-left: 10%;
}

/* .card{
    width: 40rem;
    height: 10rem;
} */

.row-style-1 {
    background-color: #A3080C;
    color: white;
    text-align: center;
}

.row-style-2 {
    background-color: black;
}

.dynamic-text {
    font-size: clamp(1rem, 2vw, 1.5rem);
    white-space: nowrap;
}

/* .card-subtitle {
    container-type: inline-size;
}

.card-subtitle > h3  {
    font-size: clamp(1rem, 2vw, 2rem);
    white-space: nowrap;
} */

.banners-container {
    display: flex;
    position: absolute;
    bottom: 45%;
    z-index: 1;
    /* right: 0%; */
}

.banner {
    color: white;
    padding: 5px 10px;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 5px; 
}

.seasonal-banner {
    background-color: #a3080c;
}

.premium-banner {
    background-color: goldenrod;
}

.drinks-card{
    text-align: center;
    position: absolute;
}

.drinks-table {
    /* margin: 20%; */
    margin: 0 auto;
    width: 50%;
    
}