/* navbar.css */

.navbar-drop, .navbar-drop-signedin {
    position: absolute; /* Position relative to parent */
    top: 100%;        /* Place below the button */
    right: 0;         /* Align to the right edge */
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 10px;
    z-index: 10;     /* Ensure it appears above other elements */
  }
  
  .navbar-drop-option, .navbar-drop-logout {
    padding: 5px 10px;
    cursor: pointer; /* Indicate it's clickable */
    color: #a3080c; /* Set the logout text color to your navbar color */
    font-weight: bold; /* Optionally make it bold */
  }
  
  .navbar-drop-option:hover, .navbar-drop-logout:hover {
    background-color: #f0f0f0; /* Add a hover effect */
  }
  
  /* Styles for the icons in the dropdown */
  .nav-drop-icon {
    margin-right: 5px; 
  }

  .nav-signin-text-container {
    background-color: #a3080c; /* Match navbar background */
    padding: 10px; 
    color: white;
  }
  
  .nav-signin-text {
    margin: 0; /* Remove default margin */
    font-size: 14px; 
  }
  
  .nav-signin-name {
    cursor: pointer; /* Indicate it's clickable for the dropdown */
  }

/* Hide navbar on very small screens */
@media (max-width: 249px) {
    .navbar {
        visibility: hidden;
    }
}

/* Styles for screens wider than 250px */
@media (min-width: 250px) {
    .navbar {
        position: fixed;
        background-color: #a3080c;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        overflow: visible !important;
    }

    /* Home Button and Back Button */
    .home-button,
    .back-button {
        background: transparent;
        height: 100%;
        width: 100%;
        border: none;
    }

    /* Logo */
    .logo {
        float: left;
        width: 60px;
        height: 60px;
        margin-left: 0.5rem;
    }

    /* Back Icon */
    .back-icon {
        font-size: 60px;
        color: white;
        margin-left: 0.5rem;
        float: left;
    }

    /* Login Button */
    .login-button {
        float: right;
        margin-right: 1rem;
        height: 100%;
        width: 50px;
        border: none;
        background: transparent;
    }

    .login-icon {
        font-size: 25px;
        color: white;
    }

    /* Weather Button */
    .weather-button {
        float: right;
        border: none;
        color: white;
        white-space: nowrap;
        font-size: 15px;
        text-align: center;
        align-self: center;
        padding: 0 !important;
        background: transparent;
    }
    
    .weather-icon{
        width:50px;
    }
            
}
@media (min-width: 400px){
    .navbar {
        position: fixed;
        background-color:#a3080c ;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        overflow: visible !important;
        
    }
    
    .home-button {
        background:transparent;
        height:100%;
        width:100%;
        border: none;
    }

    .logo {
        float: left;
        width: 60px;
        height: 60px;
        margin-left:.5rem;
    }
            
    .login-button {
        float: right;
        margin-right: 1rem;
        height:100%;
        width:50px;
        border: none;
        background: transparent;
    }

    .login-icon{
        font-size: 25px;
        color: white;
    }
    
    .weather-button {
        float: right;
        border: none;
        color: white;
        white-space: nowrap;
        font-size: 15px;
        text-align: center;
        align-self: center; 
        padding:0 !important;
        background: transparent;
    }

    .weather-icon {
        width: 50px;
    }
}

/* Styles for screens wider than 400px */
@media (min-width: 400px) {
    .navbar {
        position: fixed;
        background-color: #a3080c;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        overflow: visible !important;
    }

    /* Home Button and Back Button */
    .home-button,
    .back-button {
        background: transparent;
        height: 100%;
        width: 100%;
        border: none;
    }

    /* Logo */
    .logo {
        float: left;
        width: 60px;
        height: 60px;
        margin-left: 0.5rem;
    }

    /* Back Icon */
    .back-icon {
        font-size: 60px;
        color: white;
        margin-left: 0.5rem;
        float: left;
    }

    /* Login Button */
    .login-button {
        float: right;
        margin-right: 1rem;
        height: 100%;
        width: 50px;
        border: none;
        background: transparent;
    }

    .login-icon {
        font-size: 25px;
        color: white;
    }

    /* Weather Button */
    .weather-button {
        float: right;
        border: none;
        color: white;
        white-space: nowrap;
        font-size: 15px;
        text-align: center;
        align-self: center;
        padding: 0 !important;
        background: transparent;
    }

    .weather-icon {
        width: 50px;
    }
}

/* Styles for screens wider than 786px */
@media (min-width: 786px) {
    .navbar {
        position: fixed;
        background-color: #a3080c;
        align-content: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        overflow: visible !important;
    }

    /* Home Button and Back Button */
    .home-button,
    .back-button {
        background: transparent;
        height: 100%;
        width: 100%;
        border: none;
    }

    /* Logo */
    .logo {
        float: left;
        width: 50px;
        height: 50px;
        width: 60px;
        height: 60px;
        margin-left: 0.5rem;
    }

    /* Back Icon */
    .back-icon {
        font-size: 50px;
        color: white;
        margin-left: 0.5rem;
        float: left;
        font-size: 60px;
    }

    /* Login Button */
    .login-button {
        float: right;
        margin-right: 1rem;
        height: 100%;
        width: 50px;
        border: none;
        background: transparent;
    }

    .login-icon {
        font-size: 25px;
        color: white;
    }

    /* Weather Button */
    .weather-button {
        float: right;
        border: none;
        color: white;
        white-space: nowrap;
        font-size: 15px;
        text-align: center;
        align-self: center;
        padding: 0 !important;
        background: transparent;
    }

    .weather-icon {
        width: 50px;
    }
}

/* Styles for screens wider than 786px */
@media (min-width: 786px) {
    .navbar {
        position: fixed;
        background-color: #a3080c;
        align-content: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
    }

    /* Home Button and Back Button */
    .home-button,
    .back-button {
        height: 100%;
        width: 100%;
        border: none;
        background: transparent;
    }

    /* Logo */
    .logo {
        float: left;
        width: 50px;
        height: 50px;
        margin-left: 0.5rem;
    }

    /* Back Icon */
    .back-icon {
        font-size: 50px;
        color: white;
        margin-left: 0.5rem;
    }

    /* Login Button */
    .login-button {
        float: right;
        margin-right: 1rem;
        height: 100%;
        width: 50px;
        border: none;
        background: transparent;
    }

    .login-icon {
        font-size: 30px;
        color: white;
    }

    /* Weather Button */
    .weather-button {
        float: right;
        border: none;
        color: white;
        white-space: nowrap;
        font-size: 15px;
        text-align: center;
        align-self: center;
        background: transparent;
    }

    .weather-icon {
        width: 50px;
    }
}