@media (max-width: 249px) {
    .navbar {
        visibility: hidden;
    }
}
@media (min-width: 250px){
    .navbar {
        position: fixed;
        background-color:#a3080c ;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        overflow: visible !important;
    }

    .home-button {
        height:100%;
        width:100%;
        border: none;
    }

    .logo {
        float: left;
        width: 60px;
        height: 60px;
        margin-left:.5rem;
    }
         
    .login-button {
        float: right;
        margin-right: 1rem;
        height:100%;
        width:50px;
        border: none;
        background: transparent;
    }

    .login-icon {
        font-size: 25px;
        color: white;
    }

    .weather-button {
        float: right;
        border: none;
        color: white;
        white-space: nowrap;
        font-size: 15px;
        text-align: center;
        align-self: center; 
        padding:0 !important;
        background: transparent;
    }
    
    .weather-icon{
        width:50px;
    }
            
}
@media (min-width: 400px){
    .navbar {
        position: fixed;
        background-color:#a3080c ;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        overflow: visible !important;
        
    }
    
    .home-button {
        background:transparent;
        height:100%;
        width:100%;
        border: none;
    }

    .logo {
        float: left;
        width: 60px;
        height: 60px;
        margin-left:.5rem;
    }
            
    .login-button {
    float: right;
    margin-right: 1rem;
    height:100%;
    width:50px;
    border: none;
    background: transparent;
    }

    .login-icon{
    font-size: 25px;
    color: white;
    }
    
    .weather-button {
        float: right;
        border: none;
        color: white;
        white-space: nowrap;
        font-size: 15px;
        text-align: center;
        align-self: center; 
        padding:0 !important;
        background: transparent;
    }

    .weather-icon {
        width:50px;
    }
        
}
@media (min-width: 786px){
    .navbar {
        background-color:#a3080c ;
        align-content: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
    }

    .home-button {
        height:100%;
        width:100%;
        border: none;
        background: transparent;
    }

    .logo {
        float: left;
        width: 50px;
        height: 50px;
        margin-left:.5rem;
    }
    
    .login-button{
        float: right;
        margin-right: 1rem;
        height:100%;
        width:50px;
        border: none;
        background: transparent;
    }
    
    .login-icon {
    font-size: 30px;
    color: white;
    }

    .weather-button {
        float: right;
        border: none;
        color: white;
        white-space: nowrap;
        font-size: 15px;
        text-align: center;
        align-self: center; 
        background: transparent;
    }

    .weather-icon {
        width:50px;
    }
    
    }