/* General Layout */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.pos-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
  
/* Main Content (Menu + Order Section) */
.main-content {
    display: flex;
    flex: 0 0 90%; 
    overflow: hidden; 
}
  
/* Menu Section */
.menu-section {
    flex: 7; /* Menu takes 70% of the width */
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    padding: 20px;
    overflow: hidden; 
}
  
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
}

.menu-item-btn {
    background-color: grey; 
    color: black;
    border: none;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}
  
.menu-item-btn:hover {
    background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 50);
}

.premium-item {
    background-color: gold; 
    font-weight: bold;
    border: 1px solid #d4af37;
}

.side-item {
    background-color: lightgreen; 
}

.entree-item {
    background-color: #d9b38c; 
}

.dessert-item {
    background-color: #dda0dd; 
}

.appetizer-item {
    background-color: #f88379; 
}
  
.category-btn {
    background-color: #ffcc00;
}
  
.category-btn:hover {
    background-color: #ffaa00;
}
  
/* Order Section */
.order-section {
    flex: 3; /* Order takes 30% of the width */
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.order-section::-webkit-scrollbar {
    width: 0px; 
    height: 0px; 
    display: none; 
    padding: 20px;
    background-color: #2b2b2b;
    color: #fff;
}

.order-items {
    flex: 1;
    overflow-y: auto; 
}
  
.order-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.order-item {
    margin-bottom: 1rem;
    font-size: 1rem;
}
  
.order-item > p {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-weight: bold;
}
  
.order-subitem {
    margin-left: 1rem;
    font-size: 0.8rem;
}
  
.checkout-btn {
    flex: 1;
    margin-right: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.checkout-btn:hover {
    background-color: #af4444;
}
  
.cancel-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    width: 120px;
}
  
.cancel-btn:hover {
    background-color: #666;
}
  
/* Footer */
.footer {
    flex: 0 0 10%; 
    background-color: #800000;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Size Section */
.invisible-btn {
    visibility: hidden; 
    pointer-events: none; 
  }
  
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.quantity-btn {
    background-color: #007bff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    width: 30px;
}

.quantity-input {
    font-size: 1rem;
    width: 40px;
    text-align: center;
    padding: 5px;
    margin: 0px 15px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #555;
    color: #fff;
}