.employee-bg {
  position:absolute;
  top:0;
  left:0;
  height:fit-content;
  min-height: 100vh;
  width:fit-content;
  min-width:100vw;
  background-color:rgb(235, 235, 235);
}

.employee-container {
  display:relative;
  margin-left:350px;
  max-width: 100vw;
  margin-right:50px;
}

.employee-title {
  font-weight:400;
  width: 100%;
  min-height:120px;
  padding-top: 30px;
  font-size: 50px;
  color: rgb(98, 98, 98);
  margin-bottom:0px;
}

.employee-card {
  margin-bottom: 30px;
  margin-right: 20px;
  color: rgb(117, 117, 117);
  font-size: 25px;
  padding: 25px;
  width: 100%;
  height: fit-content;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 5px gray;
}

.employee-table-bg {
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
  padding: 8px 10px;
  color:rgb(117, 117, 117);

  margin-right: 10px;
}

.employee-search {
  border:solid;
  border-color: rgb(117, 117, 117);
  border-width: 1px;
  border-radius: 14px;

  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 4px;

  font-size:20px;

  min-width:600px;
}

.employee-search-button {
  border-radius:20px;
  border:none;
  margin-left: 10px;

  font-size:20px;
  padding: 5px 20px;

  background-color: #A3080C;
  color:white;
}

.employee-search-button:hover {
  background-color: #cd0c13;
}

.employee-search-button:active {
  opacity:0.8;
}

.employee-refresh {
  border: none;
  border-radius:15px;

  width:fit-content;
  padding:0px 10px;

  background-color: #A3080C;
  color:white;

  font-size:28px;
}

.employee-refresh:hover {
  background-color: #cd0c13;
}

.employee-refresh:active {
  opacity:0.8;
}

.employee-row {
  font-size:18px;
  min-width:1050px;
  margin-bottom:10px;
}

.employee-row-bg {
  background-color: rgb(121, 121, 121);
  border-radius: 10px;
  padding: 8px 10px;
  color:white;

  margin-right: 10px;
}

.fire-button {
  color:white;
  background-color:red;
  
  border: none;
  border-radius:15px;

  width:fit-content;
  padding:2px 10px;

  margin-right: 0.5rem;

  font-size:1.5rem;
  font-weight:bold;

  display:inline-block;
}

.fire-button:hover {
  background-color: rgb(71, 21, 21);
}

.fire-button:active {
  opacity:0.8;
}

.edit-employee-button {
  border: none;
  border-radius:15px;

  width:fit-content;
  padding:2px 10px;

  background-color: #1881d6;
  color:white;

  font-size:1.5rem;

  display:inline-block;
}

.edit-employee-button:hover {
  background-color: #175080;
}

.edit-employee-button:active {
  opacity:0.8;
}

.employee-button-row {
  min-width: 125px;
}

.add-employee {
  margin-top: 20px;
}

.add-employee-button {
  border:none;
  color:white;
  background-color: #A3080C;
  padding: 10px 0px;
}

.add-employee-button:hover {
  background-color: #cd0c13;
}

.add-employee-button:active {
  opacity:0.8;
}

.employee-popup-bg {
  position:absolute;
  left: 0px;
  top:0px;
  bottom:0px;
  right:0px;

  background-color: black;
  opacity:0.5;
  z-index: 100;
}

.employee-add-popup {
  position:absolute;

  left:50%;
  top:50%;
  transform:translateY(-275px) translateX(-300px);
  height:450px;
  width:600px;

  padding:25px 0px;

  background-color:white;

  z-index: 1000;
  border-radius: 25px;
}

@media (max-width: 600px) {
  .employee-add-popup {
    margin-left: 300px;
  }
}

.employee-close-button {
  position:absolute;
  background-color: red;
  top:15px;
  right:15px;

  border:none;
  color:white;
  border-radius:8px;
}

.employee-close-button:hover {
  background-color:rgb(197, 0, 0);
}

.employee-close-button:active {
  opacity:0.8;
}

.submit-employee-button {
  position: relative;
  border:none;
  color:white;
  background-color: #A3080C;
  width: 150px !important;
  height:40px;

  font-size: 18px;
  border-radius: 15px;
}

.submit-employee-button:hover {
  background-color: #cd0c13;
}

.submit-employee-button:active {
  opacity:0.8;
}

.employee-add-input {
  margin-left: 20px !important;
  margin-bottom: 5px; 
  width: 400px !important;
  height: 30px;

  border-radius:15px;
  background-color:rgb(221, 221, 221);
  border: solid;
  border-width: 1px;
  border-color: rgb(192, 192, 192);
  color:rgb(60, 60, 60);
}

.add-employee-error {
  margin-left: 10px;
  color:red;
  margin-top: -5px !important;
  margin-bottom: 0px !important;
}

.employee-spinning-loader {
  position:absolute;
  left:60px;
  color:rgb(221, 221, 221);
  opacity:0;
}

.employee-loader-opacity {
  opacity: 1;
}

.employee-edit-popup {
  position:absolute;

  left:50%;
  top:50%;
  transform:translateY(-275px) translateX(-300px);
  height:450px;
  width:600px;

  padding:25px 0px 0px 0px;

  background-color:white;

  z-index: 1000;
  border-radius: 25px;
}

@media (max-width: 600px) {
  .employee-edit-popup {
    margin-left: 300px;
  }
}